{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Pokemon Quiz</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            let correct_name = '{{ POKE_NAME }}';
            console.log(correct_name);
        </script>
        <script>
            $(document).ready(function(){
                $('#submit_button').click(function(e){
                    e.preventDefault();
                    let guessed_name = $('#pokemon_name').val();
                    let correct_name = '{{ POKE_NAME }}';
                    if(guessed_name === correct_name){
                        $('#correct').text('正解!');
                    }else{
                        $('#incorrect').text(`不正解。正解は${correct_name}`)
                    }
                    $('#next').show();
                });
                $('#next').click(function(){
                    location.reload();
                });
            });
        </script>
    </head>
    <body>
        <h1>Guess the Pokemon</h1>
        <img src="{{ image_url }}" alt="{{ name }}">
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
                <h3 class="text">
                    <label for="pokemon_name">Enter the Pokemon's name</label>
                </h3>
            <input type="text" id="pokemon_name" name="pokemon_name">
            <button id="submit_button">Submit</button>
        </form>
        <p id="incorrect"></p>
        <p id="correct"></p>
        <button id="next" style="display:none;">Next</button>
    </body>
</html>